.right-border {
  border-right: solid 1px rgba(180,169,112,0.36);
}

@media (max-width: 576px) {
  #event .right-border {
    border-right: none;
  }
}

#person h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 112px;
  color: rgb(52,58,64);
}

@media (max-width: 576px) {
  #person h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 41px;
    color: rgb(52,58,64);
  }
}

#person h1 span {
  color: rgb(180,169,112);
  font-style: italic;
  font-size: 126px;
  font-family: 'Josefin Slab', serif;
}

#person h1 span {
  color: rgb(180,169,112);
  font-style: italic;
  font-size: 126px;
  font-family: 'Josefin Slab', serif;
}

@media (min-width: 576px) {
  #person h1 span {
    color: rgb(180,169,112);
    font-style: italic;
    font-size: 126px;
    font-family: 'Josefin Slab', serif;
  }
}

@media (min-width: 576px) {
  #person h1 span {
    color: rgb(180,169,112);
    font-style: italic;
    font-size: 126px;
    font-family: 'Josefin Slab', serif;
  }
}

@media (max-width: 576px) {
  #person h1 span {
    font-size: 27px;
    margin: 0 10px;
  }
}

@media (max-width: 576px) {
  .title-header {
    font-family: 'Great Vibes', cursive;
    font-size: 75px !important;
    color: rgb(180,169,112);
  }
}

.title-header {
  font-family: 'Great Vibes', cursive;
  font-size: 102px;
  color: rgb(180,169,112);
}

@media (max-width: 576px) {
  header img {
    width: 167px !important;
  }
}

header img {
  width: 350px;
  margin: 0px;
}

@media (max-width: 576px) {
  .ucapan {
    font-size: 23px;
    padding: 10px 15px;
  }
}

.ucapan {
  font-family: 'Great Vibes', cursive;
  color: rgb(180,169,112);
  font-size: 35px;
}

@media (max-width: 576px) {
  .photo-gallery, #bukutamu h1 {
    font-size: 37px !important;
  }
}

.photo-gallery, #bukutamu h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 59px;
  color: rgb(52,58,64);
}

